@import url('https://fonts.googleapis.com/css?family=Roboto');

/*This applies from 0px to 600px --> MOBILE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




header{
  position: fixed;
  width: 100%;
  margin-top: 5px;
}


#header-banner{
  background-image: url('./pt-1/starter-code/images/blog_header_bg.jpg');
  background-position: center;
  color: white;
  font-size: 25px;
  font-style: Arial, Helvetica;
  background-size: cover;
  height: 50%;
  width: 100%;
  margin: auto;
}

nav{
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  background-color: white;
  font-style: Arial, Helvetica;
}

nav a{
  display: flex;
  justify-content: space-evenly;
  color: teal;
}



/* main body including left column & aside */

#main-html{
  margin:auto;
  margin-top: 250px;
  text-align: center;
  
}

h3{
  font-size: 15px;
  display: inline-block;
}

h2{
  font-size: 18px;
  letter-spacing: 1px;
  display: inline-block;
}

img{
  margin: auto;
  max-width: 500px;
  max-height: 350px;
  text-align: left;
  display: inline-block;
}

aside{
  margin: auto;
  font-size: 22px;
  margin-left: 50px;
  margin-top: 250px;
  width: 350px;
  /* text-align: left;
  flex-direction: column; */
  font-size: medium;
  display: block;
  text-align: left;
  height: 60%;
  
}


aside img{
  margin:auto;
}

html {
    height: 100%;
}

body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
    color: #141414;
    text-align: center;
    font-size: 10px;

    
}



.blog-head{
    text-align: left;
}

.container {
  display: flex;
  
}




li {
    display: inline-block;
    font-size: 18px;
}

.blog-post{
    width:70%;
    font-style: Arial, Helvetica;
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

section {
  background: white;
  height: 60%;
}

p{
  display: inline-block;

}

/* footer */

footer {
 
  background-color:#00FFFF;
  color: white;
 
  text-align: center;
  height: 100%;
  width: 100vw;
}

.icons{
  display: inline;
  text-align: center;
}

#sm{
  display: inline;
  object-fit: contain;
  max-width: 5%;
  max-height: 5%;
}

.copyright{

  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.form{
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

hr{
  color: white;
  border-style: inset;
}

.mobile-compat{
  display: flex;
}



@media (max-width: 600px) {
  html,
  body {
    background: white;
  }

.mobile-compat{
    display:flex;
    flex-direction: column;
}


section {
  position: relative;

}

aside {

}

footer {
  clear: both;
  width: 100vw;
}

}


