@import url('https://fonts.googleapis.com/css?family=Roboto');

/*This applies from 0px to 600px --> MOBILE */
* {
  margin: 0;
  padding: 0;
  /* background-color: white; */
  box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
    color: #141414;
    text-align: center;
    font-size: 10px;
    
}

.blog-head{
    text-align: left;
}

.container {
  display: flex;
}

header {
    background-image: url('./pt-1/starter-code/images/blog_header_bg.jpg');
  /* background: white; */
  height: 20%;
  color: white;
  text-align: center;
  font-style: Arial, Helvetica;
  font-size: 30px;
  background-size: cover;
}

li {
    display: inline-block;
    font-size: 18px;
}

.blog-post{
    text-align: left;
    font-style: Arial, Helvetica;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




section {
  background: white;
  height: 60%;
}

.aside {
  background-color: white;
  height: 60%;
  /* flex-direction: right;
   */
/* float: right; */
    display: flex;
    flex-direction: right;
  
}

.about{
    text-align: left;
    font-style: Arial, Helvetica;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-items: center;
    font-size: 15px */
    /* float: left; */


}

.tempDiv{
    text-align: left;
    font-style: Arial, Helvetica;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18 px
}

.list{
    text-align: left;
    /* display: block; */
    display: flex;
    flex-direction: column;

} 

.temp{
    text-align: left;
}

.about-us{
    background-color: white;
    text-align: wrap;
}

img{
    max-width: 800px;
    max-height: 550px;
    text-align: center;
    /* display: inline-block; */
}

p{
    font-size
}

footer {
  /* background: maroon; */
  background-color: teal;
  color: white;
  height: 25%;
  text-align: center;

}

/* apply width to image */

/* This applies from 600px onwards --> DESKTOP */
@media (min-width: 600px) {
  	html,
    body {
      background: white;
    }
  
  section,
  aside {
    display: inline-block;
    float: left;
    height: 60%;
  }
  
  section {
    width: 75%;
  }
  
  aside {
    width: 25%;
  }
  
  footer {
    clear: both;
  }
}

